#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	mkdir -p debian/tmp
	cp cbbl debian/tmp
	strfile debian/tmp/cbbl
	rm debian/tmp/cbbl
	dh_install

override_dh_installman:
	debian/genman.sh
	dh_installman

override_dh_clean:
	dh_clean
	debian/genman.sh --clean
	rm -rf debian/tmp
